@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
}

.font-gowunbatang {
  font-family: "Gowun Batang", serif;
}