@import url('https://fonts.googleapis.com/css2?family=Dongle&family=East+Sea+Dokdo&family=Gowun+Batang&display=swap');
@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Gowun Batang', 'Apple SD Gothic Neo', sans-serif;
  margin: 0;
}

.font-gowunbatang {
  font-family: "Gowun Batang", serif;
}

.font-east-sea-dokdo {
  font-family: "East Sea Dokdo", serif;
}